@import '../../../assets/utils.scss';

:host {
  width: calc(20% - 5px);
}

a {
  display: flex;
  background-color: $green;
  color: white;
  text-decoration: none;
  border-radius: 10px;
  padding: 15px;
  margin: 0 10px;
  margin-bottom: 30px;
  font-family: $font;
  transition: 0.4s;

  &:hover {
    .title {
      transform: scale(1.2);
      padding-left: 10px;
    }

    background-color: $greenHover;
    border-radius: 20px;

    img {
      transform: rotate(30deg);
    }

    .avatar {
      transform: scale(1.2);
    }

    .content {
      padding-left: 25px;
    }
  }
}

img, .avatar {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  transition: 0.4s;
}

.avatar {
  border: 3px solid white;
  margin-top: 8px;
}

.content {
  padding: 10px;
  transition: 0.4s;
}

.title {
  font-size: 20px;
  margin-bottom: 10px;
  transition: 0.4s;
}

.personagem {
  font-size: 18px;
  height:40px;
}

@media only screen and (max-width: 1600px) {
  :host {
    width: calc(33% - 5px);
  }
}


@media only screen and (max-width: 1200px) {
  a {
    width: unset;
  }
}