@import '../assets/utils.scss';

section {
  position: relative;
  background-color: white;
  min-width: 100vw;
  min-height: 100vh;
}

.content {
  z-index: 999;
  position: relative;
  padding: 30px;
  padding-right: 50px;

  & > div {
    margin-top: 40px;
    margin-bottom: 60px;
    border-top: 3px solid $green;
  }
}

.socials {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.social {
  margin: 20px;
  width: 100px;
  height: 100px;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  transition: 0.2s;

  &:hover {
    transform: scale(1.2);
  }
}

.title-box {
  color: $green;
  position: absolute;
  top: -18px;
  left: 50px;
  font-family: $font;
  font-size: 25px;
  background-color: white;
  padding: 0 10px;
}

.area {
  position: relative;
}

.box {
  position: relative;
  margin-top: 20px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.videos-box {
  justify-content: left;
}

.anchor {
  display: block;
  position: relative;
  top: -250px;
  visibility: hidden;
}

@media only screen and (max-width: 1200px) {
  .content {
    display: block;
    padding: 10px;

    .participantes, .apoiadores {
      width: calc(100vw - 35px);
      max-width: unset;
    }
  }

  .box {
    display: block;
  }

  .apoiadores {
    .box {
      display: flex;
    }
  }
}