<section #app>
  <a class="ytlogo" target="_blank" href="https://www.youtube.com/wfxcanal">
  </a>
  <div class="title">Discordando <br/>
    <span>- créditos -</span>
  </div>
  <div class="content">
    <div class="apoiadores">  
      <div class="title-box">Apoiadores</div>
      <div class="box">
        <app-apoiadores *ngFor="let apoiador of apoiadores" [item]="apoiador"></app-apoiadores>
      </div>
    </div>
    <div class="participantes">
      <div class="title-box">Participantes</div>
      <div class="box">
          <app-participantes *ngFor="let participante of participantes" [item]="participante"> </app-participantes>
      </div>
    </div>
  </div>
</section>

