<section #app>
  <app-header></app-header>
  <div class="content">
    <div class="apoiadores area">  
      <div class="anchor" id="apoiadoresArea"></div>
      <div class="title-box" >Apoiadores</div>
      <div class="box">
        <app-apoiadores *ngFor="let apoiador of apoiadores" [item]="apoiador"></app-apoiadores>
      </div>
    </div>
    <div class="videos area">
      <div class="anchor" id="epsArea"></div>
      <div class="title-box">Episódios</div>
      <div class="box videos-box">
        <app-video *ngFor="let video of videos" [videoUrl]="video.url" [title]="video.title"></app-video>
      </div>
    </div>
    <div class="participantes area" >
      <div class="anchor" id="participantesArea"></div>
      <div class="title-box">Participantes</div>
      <div class="box">
          <app-participantes *ngFor="let participante of participantes" [item]="participante"> </app-participantes>
      </div>
    </div>
  </div>
  <iframe src='https://www.sociablekit.com/app/embed/57334' frameborder='0' width='100%' height='400'></iframe>
  <app-footer></app-footer>
</section>

