@import '../../../assets/utils.scss';

img {
  width: 80px;
  margin-left: 40px;
  margin-bottom: 10px;
  transition: 0.4s;
  border-radius: 50%;
}

.link {
  color: black;
  width: 160px;
  margin: 10px;
  font-family: $font;
  padding: 20px;
  border-radius: 20px;
  transition: 0.4s;
}

a {
  text-decoration: none;

  &:hover {
    .link {
      transform: scale(1.1);
    }

    img {
      transform: rotate(10deg);
    }
  }
}

.title {
  color: black;
  text-align: center;
  transition: 0.4s;
}
